/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@import "./media-queries.scss";

:root {
  --ion-background-color: #ffffff !important; /*#0f0f17*/
  --background: #ffffff !important; /*#0f0f17*/
  --padding-bottom: 130px !important;

}